[Unit]
Description=Fire Hello World every minute

[Timer]
Unit=07.service
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
